In [1]:
import pandas as pd                         
import numpy as np        
import pandas
from os import listdir
from os.path import isfile, join
import csv
from sqlalchemy import create_engine

In [2]:
stock_attendance_2017=pd.read_excel(('T19F206.xls'),
              sheet_name='Figure 1') 
stock_attendance_2017_df=pd.DataFrame(stock_attendance_2017)
stock_attendance_2017_df.head()

,Parc et fréquentation des hébergements collectifs en 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Nombre d'établissements1,Nombre d'hébergements\nen milliers2,Taux d'occupation\nen %,Nuitées totales\nen millions,Nuitées étrangères\nen millions
2,Hôtels,17840,641,61.2,209.9,75.7
3,Campings3,8343,710,35.5,124,38.8
4,Autres hébergements collectifs touristiques (A...,3540,245,62.2,94.8,18.3

In [3]:
#drop row 0
stock_attendance_2017_df=stock_attendance_2017_df.drop([0])

In [4]:
#drop Nan rows
stock_attendance_2017_df=stock_attendance_2017_df.drop([9,10,11,12,13])

In [5]:
#new header
new_header = stock_attendance_2017_df.iloc[0]

In [6]:
stock_attendance_2017_df.columns=new_header

In [7]:
#drop row 0
stock_attendance_2017_df=stock_attendance_2017_df.drop([1])

In [8]:
#rename columns
stock_attendance_2017_df.columns = stock_attendance_2017_df.columns.fillna('type')
stock_attendance_2017_df=stock_attendance_2017_df.rename(columns={"type": "Establishment", "Nombre d'établissements1": "Number_of_Establishments",
                                                                 "Nombre d'hébergements\nen milliers2":"Number_of_Accomidations(thousands)",
                                                                 "Taux d'occupation\nen %":"Occupancy_Rate%",
                                                                 "Nuitées totales\nen millions":"Total_Night(millions)",
                                                                 "Nuitées étrangères\nen millions":"Foreign_Overnight_Stays(millions)"})

In [9]:
stock_attendance_2017_df=stock_attendance_2017_df.rename(columns={"type": "Establishment", "Nombre d'établissements1": "Number_of_Establishments",
                                                                 "Number_of_Accomidations(thousands)":"Number_of_Accomidations",
                                                                 "Occupancy_Rate%":"Occupancy_Rate",
                                                                 "Total_Night(millions)":"Total_Night",
                                                                 "Foreign_Overnight_Stays(millions)":"Foreign_Overnight_Stays"})

In [10]:
#stock_attendance_2017_df

In [11]:
#stock_attendance_2017_df
#conect to local database
rds_connection_string = "postgres:Otis-1995@localhost:5432/france_tourism_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
engine.table_names()

['stock_attendance_2017', 'sites_visited_2017']

In [13]:
stock_attendance_2017_df=stock_attendance_2017_df.reset_index()

In [14]:
stock_attendance_2017_df=stock_attendance_2017_df.rename(columns={"index":"id"})

In [15]:
stock_attendance_2017_df.to_sql(name='stock_attendance_2017', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "stock_attendance_2017_pkey"
DETAIL:  Key (id)=(2) already exists.

[SQL: INSERT INTO stock_attendance_2017 (id, "Establishment", "Number_of_Establishments", "Number_of_Accomidations", "Occupancy_Rate", "Total_Night", "Foreign_Overnight_Stays") VALUES (%(id)s, %(Establishment)s, %(Number_of_Establishments)s, %(Number_of_Accomidations)s, %(Occupancy_Rate)s, %(Total_Night)s, %(Foreign_Overnight_Stays)s)]
[parameters: ({'id': 2, 'Establishment': 'Hôtels', 'Number_of_Establishments': 17840, 'Number_of_Accomidations': 641, 'Occupancy_Rate': 61.2, 'Total_Night': 209.9, 'Foreign_Overnight_Stays': 75.7}, {'id': 3, 'Establishment': 'Campings3', 'Number_of_Establishments': 8343, 'Number_of_Accomidations': 710, 'Occupancy_Rate': 35.5, 'Total_Night': 124, 'Foreign_Overnight_Stays': 38.8}, {'id': 4, 'Establishment': 'Autres hébergements collectifs touristiques (AHCT)', 'Number_of_Establishments': 3540, 'Number_of_Accomidations': 245, 'Occupancy_Rate': 62.2, 'Total_Night': 94.8, 'Foreign_Overnight_Stays': 18.3}, {'id': 5, 'Establishment': '\xa0\xa0\xa0Résidences de tourisme', 'Number_of_Establishments': 2347, 'Number_of_Accomidations': 172, 'Occupancy_Rate': 64.7, 'Total_Night': 71, 'Foreign_Overnight_Stays': 15.5}, {'id': 6, 'Establishment': '\xa0\xa0\xa0Villages de vacances', 'Number_of_Establishments': 946, 'Number_of_Accomidations': 64, 'Occupancy_Rate': 54.6, 'Total_Night': 20.3, 'Foreign_Overnight_Stays': 2}, {'id': 7, 'Establishment': '\xa0\xa0\xa0Autres ', 'Number_of_Establishments': 247, 'Number_of_Accomidations': 9, 'Occupancy_Rate': 57.3, 'Total_Night': 3.5, 'Foreign_Overnight_Stays': 0.8}, {'id': 8, 'Establishment': 'Ensemble ', 'Number_of_Establishments': 29723, 'Number_of_Accomidations': 1596, 'Occupancy_Rate': 53.9, 'Total_Night': 428.7, 'Foreign_Overnight_Stays': 132.8})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [16]:
sites_visited_2017=pd.read_excel(('T19F206.xls'),
              sheet_name='Figure 2') 
sites_visited_2017_df=pd.DataFrame(sites_visited_2017)
sites_visited_2017_df.head()

,"Monuments, sites culturels et récréatifs les plus fréquentés en 2017",Unnamed: 1
0,NaN,NaN
1,NaN,en milliers de visiteurs
2,NaN,Visiteurs
3,Disneyland,14860
4,Musée du Louvre,8022.3

In [17]:
 #dop frist 3 rows
sites_visited_2017_df=sites_visited_2017_df.drop([0,1,2])

In [18]:
sites_visited_2017_df=sites_visited_2017_df.rename(columns={"Monuments, sites culturels et récréatifs les plus fréquentés en 2017":"Sites",
                                                            "Unnamed: 1":"Number_of_Visitors_Millions"})

In [19]:
sites_visited_2017_df=sites_visited_2017_df.reset_index()

In [20]:
sites_visited_2017_df=sites_visited_2017_df.rename(columns={"index":"id"})

In [23]:
sites_visited_2017_df=sites_visited_2017_df.drop([19])

In [25]:
sites_visited_2017_df=sites_visited_2017_df.drop([15,16,17,18])

In [28]:
sites_visited_2017_df.to_sql(name='sites_visited_2017', con=engine, if_exists='append', index=False)