In [27]:
import pandas as pd                         
import numpy as np        
import pandas
from os import listdir
from os.path import isfile, join
import csv
from sqlalchemy import create_engine

In [28]:
stock_attendance_2017=pd.read_excel(('T19F206.xls'),
              sheet_name='Figure 1') 
stock_attendance_2017_df=pd.DataFrame(stock_attendance_2017)
stock_attendance_2017_df.head()

,Parc et fréquentation des hébergements collectifs en 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Nombre d'établissements1,Nombre d'hébergements\nen milliers2,Taux d'occupation\nen %,Nuitées totales\nen millions,Nuitées étrangères\nen millions
2,Hôtels,17840,641,61.2,209.9,75.7
3,Campings3,8343,710,35.5,124,38.8
4,Autres hébergements collectifs touristiques (A...,3540,245,62.2,94.8,18.3

In [3]:
#drop row 0
stock_attendance_2017_df=stock_attendance_2017_df.drop([0])

In [4]:
#drop Nan rows
stock_attendance_2017_df=stock_attendance_2017_df.drop([9,10,11,12,13])

In [5]:
#new header
new_header = stock_attendance_2017_df.iloc[0]

In [6]:
stock_attendance_2017_df.columns=new_header

In [7]:
#drop row 0
stock_attendance_2017_df=stock_attendance_2017_df.drop([1])

In [8]:
#rename columns
stock_attendance_2017_df.columns = stock_attendance_2017_df.columns.fillna('type')
stock_attendance_2017_df=stock_attendance_2017_df.rename(columns={"type": "Establishment", "Nombre d'établissements1": "Number_of_Establishments",
                                                                 "Nombre d'hébergements\nen milliers2":"Number_of_Accomidations(thousands)",
                                                                 "Taux d'occupation\nen %":"Occupancy_Rate%",
                                                                 "Nuitées totales\nen millions":"Total_Night(millions)",
                                                                 "Nuitées étrangères\nen millions":"Foreign_Overnight_Stays(millions)"})

In [9]:
stock_attendance_2017_df=stock_attendance_2017_df.rename(columns={"type": "Establishment", "Nombre d'établissements1": "Number_of_Establishments",
                                                                 "Number_of_Accomidations(thousands)":"Number_of_Accomidations",
                                                                 "Occupancy_Rate%":"Occupancy_Rate",
                                                                 "Total_Night(millions)":"Total_Night",
                                                                 "Foreign_Overnight_Stays(millions)":"Foreign_Overnight_Stays"})

In [29]:
#stock_attendance_2017_df

In [11]:
#stock_attendance_2017_df
#conect to local database
rds_connection_string = "postgres:Otis-1995@localhost:5432/france_tourism_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
engine.table_names()

['stock_attendance_2017']

In [19]:
stock_attendance_2017_df=stock_attendance_2017_df.reset_index()

In [21]:
stock_attendance_2017_df=stock_attendance_2017_df.rename(columns={"index":"id"})

In [22]:
stock_attendance_2017_df.to_sql(name='stock_attendance_2017', con=engine, if_exists='append', index=False)